.contentcolumn {
  padding: 35px 15px 35px 15px;
  max-width: calc(100vw - 230px);
  max-width: 1300px;
  flex: 1 0 auto;
  overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // -ms-overflow-style: none; // IE 10+
  // overflow-y: -moz-scrollbars-none; // Firefox

  h1 {
    font-size: 32px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .content-img {
    max-width: 1000px;
  }
}

.filter {
  width: 100%;
  height: 40px;
  background: $magenta;
  margin-bottom: 20px;

  .filterrow {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding: 8px 0;

    .filtercolumn {
      flex: 1 0 150px;
      color: $white;
      font-size: 16px;
      text-align: center;

      &.number {
        flex: 1 0 90px;
        max-width: 100px;
      }
    }

    .filtercolumn:nth-child(1),
    .filtercolumn:nth-child(2),
    .filtercolumn:nth-child(3),
    .filtercolumn:nth-child(4),
    .filtercolumn:nth-child(5),
    .filtercolumn:nth-child(6) {
      border-right: 1px solid $white;
    }
  }
}

.table-row {
  width: 100%;
  display: flex;
  border: 2px solid $darkgray;
  border-radius: 2px;
  padding: 10px 0;
  opacity: 1;
  margin: 10px 0;
  @extend .transition;

  &:hover {
    border-color: $magenta;
    background: rgba($white, 0.5);
  }

  .column {
    flex: 1 0 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.number {
      flex: 1 0 65px;
      max-width: 100px;

      .created {
        font-size: 12px;
      }
    }

    .rownumber {
      text-align: center;

      span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        background: $magenta;
        color: $white;
        border-radius: 50%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .inforow {
      width: 100%;
      font-size: 13px;

      .statustext {
        i {
          margin-right: 5px;
        }

        img {
          cursor: pointer;
          max-width: 100px;
        }
      }
    }

    strong {
      font-size: 13px;

      i {
        color: $magenta;
        margin-right: 5px;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &.animated {
          animation-name: spin;
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .column:nth-child(1),
  .column:nth-child(2),
  .column:nth-child(3),
  .column:nth-child(4),
  .column:nth-child(5),
  .column:nth-child(6) {
    border-right: 1px solid $darkgray;
  }
}

.action {
  opacity: 1;
  @extend .transition;
}

.fa-upload {
  line-height: 55px;
  margin-left: 10px;
}

.link-input {
  clear: both;
  font-size: 14px;
  .placeholder {
    line-height: 25px;
  }
  input {
    max-width: 110px;
    height: 25px;
    line-height: 25px;
  }

  .showlink {
    display: block;
    padding-top: 10px;
    a {
      color: $blue;
      @extend .transition;

      &:hover {
        color: $magenta;
        text-decoration: underline;
      }
    }
  }
}
