aside {
  max-width: 289px;
  width: 100%;
  //height: 100%;
  background: $lightblack;
  position: relative;
}

.vertical-menu {
  list-style-type: none;
  padding: 0;
  li {
    border-bottom: 1px solid $dark-border;
    @extend .transition;
    a {
      line-height: 70px;
      display: block;
      color: $white;
      font-weight: 500;
      text-transform: uppercase;
      @extend .transition;
      i {
        font-size: 20px;
        margin: 0 15 0 25px;
      }
    }

    &.selected,
    &:hover {
      background: $black;
      a {
        color: $magenta;
      }
    }
  }
}

.feedbackbox {
  width: 289px;
  color: $white;
  padding: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;

  h3 {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
  }

  p {
    font-size: 13px;
    line-height: 16px;
    margin: 15px 0;
  }

  a {
    font-size: 13px;
    color: $blue;
    text-transform: uppercase;
    font-weight: 500;
  }
}
